Dockerfile
.dockerignore
**/target
**/Cargo.lock

**/large_bayes_nets/*.lisp
**/large_bayes_nets/*.jl.ignore
build.log

PluckArtifact.jl/out
PluckArtifact.jl/Pluck.jl/out
PluckArtifact-synthesis/PluckSynthesis.jl/out
PluckArtifact-synthesis/out
